* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 60px;
    --sidebar-width: 250px;
    --primary-color: #17B1EA;

    --section-color: #151618;
}

ul, ol > li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:visited {
        color: white;
    }
}

button {
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    background-color: #17B1EA;
    cursor: pointer;
}

body {
    font-family: "Coda", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1A1B22;
    width: 100vw; height: 100vh;
    overflow: hidden;

    color: white;
}

#app {
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
}