@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
    }

    -ms-overflow-style: none;
    /* IE 10+ */
    outline: none;
    scrollbar-width: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:transparent;
}

ul,
ol>li {
    list-style: none;
}

body {
    position: relative;
    padding: calc((100vh - 700px) / 2) 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    font-family: "Lilita One", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background: #fff linear-gradient(rgba(#4100FC, .4), rgba(#2B66FF, .8) 30%);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(1.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(0, 0%, 100%, .08)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-30,-0.46)' fill='url(%23a)'/></svg>");
        z-index: -1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        height: 100%;
        aspect-ratio: 1 / 1;
        background: radial-gradient(rgba(#5FEBF1, .2) 25%, rgba(#224CB8, .8) 60%);
        z-index: -1;
    }
}

#app {
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 20px;
    height: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

.button {
    position: relative;
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: white;
    font-size: 20px;
    margin: 0 auto;

    width: fit-content;
    filter: drop-shadow(1px 1px 0px rgba(black, 1)) drop-shadow(-1px -1px 0px rgba(black, 1));

    &:active {
        .button {
            &-bg {
                &--blue {
                    background-color: darken(#4C51F7, 5%);
                }
            }
        }
    }

    &-bg {
        position: absolute;
        display: block;
        clip-path: polygon(calc(0% + 10px) 0%, 100% 0, calc(100% - 10px) 100%, 0% 100%);

        &--yellow {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #F2EC00;
            z-index: 1;
        }

        &--blue {
            top: calc(50% + 4px);
            left: calc(50% + 4px);
            translate: -50% -50%;
            width: 100%;
            height: 100%;
            background-color: #4C51F7;
            z-index: 2;
        }
    }

    &-content {
        position: relative;
        padding: .2em 1.2em;
        left: 4px;
        top: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 3;
    }
}